.mainContainer {
    background-image: url('../../assets/img/bg-white-paper-texture.webp');
    background-size: auto;
    background-position: center;
    background-repeat: repeat-y;
    height: auto;

    margin-top: 64px;
    /*margin for header*/

}